.centerElement {
	min-height : 20rem;
	max-width : 20rem;
}

.imageStyle img{
	width : auto;
	height : 100%;
	left : auto;
}

@media screen and (max-width: 650px) {
	.centerElement {
		min-height : 11rem;
		max-width : 11rem;
	}
}
